<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>豪门足球风云-官方网站-FIFPro正版授权-世界级3D足球手游</title>
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=640,target-densitydpi=320, minimum-scale=0.5, maximum-scale=2,user-scalable=0">
	<meta name="keywords" content="豪门足球风云、豪门足球、实况足球、fifa17、最佳阵容、世界足球、体育足球、梦幻足球、pescm、soccer、热血足球、足球游戏2017、欧冠足球、欧冠亚冠、欧冠游戏、点球大战、足球游戏、足球直播、足球彩票、足球比分、足球经理、足球大师、足球竞猜、足球小将、fm足球经理、梦幻足球经理、单机足球游戏">
	<meta name="decriptions" content="《豪门足球风云》采用全球领先的动作捕捉技术，拥有2000秒动作捕捉数据，真实还原球员技术动作；景深和眩光技术打造的高品质画面，让玩家体验亲临比赛现场般的感受；独特的”英雄时刻”玩法，让玩家切身参与每次传突射的决策！是一款真正为全世界足球爱好者量身定制的高品质足球经理手游。">
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="css/common.css?v=0.0.3">
	<link rel="stylesheet" type="text/css" href="css/index.css?v=0.0.3">
	<script type="text/javascript" src="http://s0.web.hulai.com/static/jquery/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript" src="js/jquery.cycle.all.js"></script>
	<script type="text/javascript" src="//page.hulai.com/static/open/js/isMobile.min.js"></script>
	<script type="text/javascript" src="//page.hulai.com/static/open/js/hulai-activity-0.0.1.js"></script>

	<script type="text/javascript" src="http://page.hulai.com/static/open/js/vue-2.1.8.min.js"></script>
	<script type="text/javascript" src="//page.hulai.com/static/open/js/hulai-cms-0.0.1.js?v=0.0.3"></script>
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?ddaec06cf791b2e9274f9fc5603e6a2c";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
	<script type="text/javascript" src="http://activity.api.hulai.com/static/open/js/isMobile.min.js"></script>
	<script type="text/javascript">
		if (!isMobile.any) {
			var goUrl = 'http://hmzqfy.hulai.com/index.html';
			var url = window.location.href;
			var urlArr = url.split('?')
			if (urlArr.length > 1) {
				goUrl = goUrl + '?' + urlArr[1];
			}
			location.replace(goUrl);
		}
	</script>
</head>

<body>
	<div id="app" v-cloak>
		<div class="fixed-top">
			<a href="index.html" style="display: inline-block;width: 110px;height: 120px;margin-left: 25px;"></a>
			<img @click="downLoad()" id="download" src="img/download.png">
		</div>
		<div class="bg1" style="background-image:url(img/bg1_new.jpg)">
			<img id="video-btn" src="img/video-btn.png">
		</div>
		<div class="bg2">
			<!-- 轮播图 -->
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="img/one.jpg" style="width:574px;height:251px;"></div>
					<div class="swiper-slide"><img src="img/two.jpg" style="width:574px;height:251px;"></div>
					<div class="swiper-slide"><img src="img/three.jpg" style="width:574px;height:251px;"></div>
					<div class="swiper-slide"><img src="img/four.jpg" style="width:574px;height:251px;"></div>
					<!--  <div class="swiper-slide"><img src="img/5.jpg" style="width:574px;height:251px;"></div> -->
				</div>
				<div class="swiper-pagination"></div>
				<!-- 一张图片，轮播则使用swiper -->
				<!-- <div>
			    	<img src="img/phonelist.jpg" alt="">
			    </div> -->
			</div>
			<!-- 分类列表 -->
			<div class="list">
				<ul class="classify-list">
					<li class="borderLine" @click="goGetList('最新',1)">最新</li>
					<li @click="goGetList('攻略',1)">攻略</li>
					<li @click="goGetList('活动',1)">活动</li>
					<li @click="goGetList('公告',1)">公告</li>
					<li style="margin-right:0px;">
						<a :href="more_href" style="display:inline-block;width:60px"><img src="img/add.png"></a>
					</li>
				</ul>
				<ul class="content-list">
					<li v-for="item in listData">
						<a :href="item.hrefVal">
							<span><span>[</span>{{listName}}<span>]</span></span>
							<span>{{item.title}}</span>
							<span class="fr">{{item.updated}}</span>
						</a>
					</li>
				</ul>
			</div>

		</div>
		<div class="bg3">
			<!-- 经理人学堂 -->
			<div class="part-1">
				<div class="part1-left">
					<div class="box">
						<div class="column">
							<span class="item" style="background-image:url(img/left1_new.png)" @click="libao()"></span>
							<span class="item" style="background-image:url(img/right1_new.png)"><a href="listMessage.html#427"></a></span>
						</div>
						<div class="column">
							<span class="item" style="background-image:url(img/left2_new.png)"><a href="listMessage.html#428"></a></span>
							<span class="item" style="background-image:url(img/right2_new.png)"><a href="listMessage.html#429"></a></span>
						</div>
					</div>
					<img src="img/xt_bg.jpg" style="margin-left: 25px;margin-top: 15px;">
				</div>
				<div class="part1-right">
					<img class="zxgl" src="img/zxgl_bg.png">
					<a href="list.html#424"><img class="more" src="img/more.png"></a>
					<ul>
						<li v-for="item in listDataGL">
							<a :href="item.hrefVal">
								<span>[攻略] </span>{{item.title}}
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- 游戏特色 -->
			<div class="part-2">
				<ul class="dtp" style="height: 248px; margin-top: 5px;overflow: hidden;">
					<li class="dtp1-1" style="width: 400px;">
						<img src="img/pic01.jpg" alt="" style="width: 400px; height: 248px;">
					</li>
					<li class="dtp1-2" style="width: 80px;">
						<img src="img/pic02.jpg" alt="" style="width: 400px; height: 248px;">
					</li>
					<li class="dtp1-3" style="width: 80px;">
						<img src="img/pic03.jpg" alt="" style="width: 400px; height: 248px;">
					</li>
				</ul>
			</div>
			<!-- 游戏截图 -->
			<div class="part-3">
				<span id="prev" class="last"></span>
				<ul id="picList">
					<li><img src="img/jt_1.jpg" alt="" /></li>
					<li><img src="img/jt_2.jpg" alt="" /></li>
					<li><img src="img/jt_3.jpg" alt="" /></li>
					<li><img src="img/jt_4.jpg" alt="" /></li>
					<li><img src="img/jt_5.jpg" alt="" /></li>
					<li><img src="img/jt_6.jpg" alt="" /></li>
					<li><img src="img/jt_7.jpg" alt="" /></li>
					<li><img src="img/jt_8.jpg" alt="" /></li>
					<li><img src="img/jt_9.jpg" alt="" /></li>
					<li><img src="img/jt_10.jpg" alt="" /></li>
				</ul>
				<span id="next" class="next"></span>
			</div>
			<!-- footer -->
<!-- 			<div class="footer">
				<span>The use of images and names of the football players in this game is under license from FIFPro Commercial Enterprises BV.</span>
				<span>FIFPro is a registered trademark of FIFPro Commercial Enterprises BV.</span>
				<span>地址：北京市朝阳区天辰东路国家会议中心北区四层 </br>京ICP备11034336号-1 网络文化经营许可证-文网文[2011]0744-272号 京公网安备11010502022348</span>
				<span></span>
				<span>Copyright © 2012 Hoolai Games. All Rights Reserved 互爱互动（北京）科技有限公司版权所有    010-62662622</span>
			</div> -->
			      <div class="footer">
        <div class="ui inverted segment">
          <div class="ui c_center">
            <p class="bottom_text">The use of images and names of the football players in this game is under license from FIFPro Commercial Enterprises BV.</p>
            <p class="bottom_text2">FIFPro is a registered trademark of FIFPro Commercial Enterprises BV.</p>
            <p>
              温馨提示：抵制不良游戏，拒绝盗版游戏，注意自我保护，谨防受骗上当，适度游戏益脑，沉迷游戏伤身，合理安排时间，享受健康生活
              <br/>
              本网站所有游戏仅适合于年满18周岁以上的用户。如果您未满18周岁，不建议您注册并使用本网络游戏服务；
              <br/>
              如果您坚持使用，请您务必加入本网络游戏防沉迷系统进行实名注册，同时我们将会按照您法定监护人的需求提供您在本网络游戏中的信息。
              <br/>
              您在使用本网络游戏服务之前已经明确知晓网络游戏可能给您带来的一切潜在威胁，包括长时间游戏可能不利于您的身心健康等。为了您的健康请您合理的使用本网络游戏。
            </p>

            <p>京ICP备11034336号-1 |
              <a target="_blank" href="http://www.hulai.com/assets/files/huai_wenwangwen.jpg">
                <font color="#6e7483">京网文[2011]0744-272号 |</font>
              </a>
              <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502033250">
                <font color="#6e7483"><img src="http://www.beian.gov.cn/img/ghs.png">京公网安备 11010502033250号 |</font>
              </a>
              <a target="_blank" href="http://www.hulai.com/assets/files/huai_xukezheng.pdf">
                <font color="#6e7483">（总）网出证（京）字第095号 |</font>
              </a>
              <a href="#">
                <font color="#6e7483">ICP证书号:京B2-20171148</font>
              </a>
            </p>
            <p>
              <a class="c_white" target="_blank" href="http://www.hulai.com/server">服务协议 |</a>
              <a class="c_white" target="_blank" href="http://www.hulai.com/privacy">隐私权保护声明 |</a>
              <a class="c_white" target="_blank" href="http://www.hulai.com/minors">未成年人家长监护 |</a>
              <a class="c_white" target="_blank" href="http://www.hulai.com/law">法律声明 |</a>
              <a class="c_white" target="_blank" href="http://www.hulai.com/dispute">纠纷、投诉</a>
            </p>
            <p>
              北京市石景山区八大处高科技园区西井路3号3号楼9229房间 010-62662622
            </p>
            <p>
              Copyright © 2015 Hoolai Games. All Rights Reserved | 互爱互动（北京）科技有限公司版权所有
            </p>
          </div>
        </div>
      </div>
		</div>
		<!-- 固定右侧的礼包 -->
		<div class="fix-right">
			<img src="img/libao1_icon.png" @click="libao()">
			<img src="img/download1_icon.png" @click="downLoad()">
		</div>
		<div id="cover" v-show="coverShow"></div>
		<div id="pop" v-show="popShow" v-bind:style="{backgroundImage: popImg}">
			<span class="close-err" @click="closeErr()"></span>
		</div>
		<div id="dialog1" v-show="dialog1Show">
			<img id="close" src="img/close.png" @click="closeDialog()">
			<div id="lqlb" @click="showd2()"></div>
			<a id="more_fl" href="/m/article.html#13634"><img src="img/more_fuli.png"></a>
		</div>
		<div id="dialog2" v-show="dialog2Show">
			<img id="close" src="img/close.png" @click="closeDialog()">
			<input v-model="telephone" id="mobile" class="telephone" type="text" name="telephone" placeholder="输入手机号" onfocus="this.placeholder=''" onblur="this.placeholder='输入手机号'">
			<input v-model="code" id="smscode" class="code" type="text" name="code" placeholder="输入验证码" onfocus="this.placeholder=''" onblur="this.placeholder='输入验证码'">
			<input v-bind:disabled="isDisabled" v-model="smsCodeVal" @click="sendSms(this)" v-bind:class="{grayBg:isGrayBg}" type="button" class="yanzheng" name="name">
			<div id="djlq" @click="saveRecord()"></div>
		</div>
		<div id="dialog3" v-show="dialog3Show">
			<img id="close" src="img/close.png" @click="closeDialog()">
			<input v-model="libaoma" class="libaoma" type="text" name="libaoma" readonly="readonly">
			<span class="copy"></span>
		</div>


		<!-- 视频 -->
		<div class="video-show">
			<img src="img/close.png" class="close_video">
			<video id="media" src="http://cdn.hmzqfy.hulai.com/hmzqfy.mp4" width="640px" height="360px" controls="controls">
	        </video>
		</div>
	</div>
	<script type="text/javascript" src="js/select.js"></script>
	<script type="text/javascript" src="js/common.js?v=0.0.3"></script>
	<script type="text/javascript" src="js/index.js?v=0.0.3"></script>
	<script type="text/javascript" src="js/vueVersion.js?v=0.0.3"></script>
	<script>
		// 检测是ios、android
		if (isMobile.apple.device) {
			console.log("ios");
			$("#more_fl").css("display", "none");
		}
		if (isMobile.android.device) {
			console.log("android");
		}
	</script>
</body>

</html>
